body {
  font-family: 'Poppins', sans-serif; 
  font-size: 1.35rem;
  color: #fff;
  background-color:#222222;
  width: 97vw;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__group {
  position: relative;
  padding: 15px 0;
  margin-top: 10px;
  width: 100%;
  display: flex;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1rem;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #11998e;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}

.form__submit {
  font-size: 1rem;
  background-color:#222222;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  color: #fff;
  width: 70px;
  height: 50px;
  font-weight:700;
  padding: 5px;
}

.form__submit:hover {
  border: 3px solid #38ef7d;
}

#response p {
  width: 60vw;
  height: 40vh;
  border: 3px solid;
  padding: 10px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}